<p><%= "Task: " + task.body %></p>
<p><%= "Completed? " + task.complete.to_s %></p>
<p><%= "Position: " + task.position.to_s %></p>

<button> <%= link_to("Back", list) %> </button>

<button type="new" class="new-task"><%= link_to "New Task", new_list_task_path %></button>
